body{
    background: #000 url("../img/fon1.jpg") repeat 0 0;
}
.container{
    background-color: aliceblue;
    height:100% !important;
    min-height:100%;
}
header{
    padding-top: 20px;
}

.row{
    padding-bottom: 20px;
}
h3{
    margin-top: 0px;
}



