<?php foreach ($data['info'] as $info){ ?>

    <!-- task view -->
    <div class="row col-md-offset-1">
        <div class="col-md-7">
            <form method="post" action="/admin/" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" id="id" name="id" class="form-control hidden" value="<?=$info['id']?>" />
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" value="<?=$info['name']?>" readonly/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" value="<?=$info['email']?>" readonly/>
                </div>
                <div class="form-group">
                    <label for="task">Your Task</label>
                    <textarea type="text" class="form-control" id="task" name="task"  rows="6" maxlength="1024" ><?=$info['text']?></textarea>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="is_ready" name="is_ready"<?= $info['is_ready']? 'checked' : '' ?>/>
                    <label for="is_ready">Is task completed?</label>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <button type="submit" class="btn btn-default">Update Task</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
                <img class="thumbnails" src='<?= $info['foto'] ?>'  width="320" height="240">
        </div>
    </div>
    <hr>
    <?php $info['is_ready']? 'checked' : '' ?>
<?php } ?>