<!DOCTYPE html>
<html lang="en">
<head>
  <title><?=Config::get('site_name')?></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/jquery-3.1.1.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">

        <nav class="navbar navbar-default">
            <a class="navbar-brand" href="/"><?=Config::get('site_name')?></a>
            <ul class="nav navbar-nav">
                <li <?php if( App::getRouter()->getController() == 'pages' ) {?>class="active"<?php } ?>><a href="/">All Tasks</a></li>
                <li <?php if( App::getRouter()->getController() == 'newtask' ) {?>class="active"<?php } ?>><a href="/newtask/">New Task</a></li>
            </ul>
        </nav>

        <div class="starter-template">
            <?php if( Session::hasFlash() ){ ?>
                <div class="alert alert-info" role="alert">
                    <?php Session::flash(); ?>
                </div>
            <?php } ?>
            <?=$data['content']?>
        </div>

    </div>
</body>
</html>